/* ProductGrid.css */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #060e2e;;
  border: 1px solid #201f06;
  padding: 10px;
  text-align: center;
  width: 250px; /* Ensure card has a fixed width */
  max-width: 300px; /* Optional: Max width to avoid stretching */
  flex-shrink: 0; /* Prevent card from shrinking */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.view-all-button {
  background-color: #003366;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
